table{
	border-collapse: separate;
	border-spacing: 1px;
}
tr td span{
	padding: 0;
	margin: 0;
}
td {
	width: 15px;
	height: 15px;
}
.highlight{
	background-color: #A9D0F5;
}
.number{
	font-size: 0.5em;
}
.ploted{
	background-color: black;
}

.notploted{
	background-color: #F2F2F2;
}
.over.ploted{
	background-color: #4C5000;
}
.over.notploted{
	background-color: #C9CAB9;
}
